#
#	Allow REST api request methods. GET POST PUT and DELETE
	<Limit GET POST PUT DELETE PATCH>
		Allow from all
	</Limit>
#
#	CORS
#	<IfModule mod_headers.c>
#		Access-Control-Allow-Credentials: true
#		Access-Control-Allow-Methods: GET, POST, OPTIONS, PUT, DELETE
#		Access-Control-Allow-Headers: Origin, Content-Type, X-Auth-Token
#	</IfModule>
#
#	ACCEPT WEBP
	<ifModule mod_rewrite.c>
		RewriteEngine On
		RewriteCond %{HTTP_ACCEPT} image/webp
		RewriteCond %{REQUEST_URI}  (?i)(.*)(\.jpe?g|\.png)$
		RewriteCond %{DOCUMENT_ROOT}%1.webp -f
		RewriteRule (?i)(.*)(\.jpe?g|\.png)$ %1\.webp [L,T=image/webp,R]
	</IfModule>
	<IfModule mod_headers.c>
		Header append Vary Accept env=REDIRECT_accept
	</IfModule>
	AddType image/webp .webp
#
#	APPEND TRAILLING SLASH 
	<IfModule mod_rewrite.c>
		RewriteCond %{REQUEST_URI} !^/$
		RewriteCond %{REQUEST_FILENAME} !-f
		RewriteRule ^(.*[^/])$ /$1/ [L,R=301]
	</IfModule>
#
#	APPEND WWW. IF NO SUBDOMAIN EXISTS
	<IfModule mod_rewrite.c>
		RewriteCond %{HTTP_HOST} ^[^.]+\.[^.]+$
		RewriteRule ^(.*)$ www.%{HTTP_HOST}/$1 [L,R=301]
	</IfModule>
#
#	REDIRECT ALL REQUESTS TO INDEX OR FILES, RESPECTIVELY
	<IfModule mod_rewrite.c>
		RewriteRule ^([0-9a-zA-Z\-\/\_]+).(json|css|js|txt|xml|md|php)$ /index.php?file=$1&ext=$2 [END,L,QSA]

		RewriteCond %{REQUEST_FILENAME} !-d
		RewriteCond %{REQUEST_FILENAME} !-f
		RewriteRule ^(.*)$ index.php?perma=$1 [QSA,L]
	</IfModule>
#
#	Enable text-compression for static files
	<IfModule mod_deflate.c>
		AddOutputFilterByType DEFLATE text/plain
		AddOutputFilterByType DEFLATE text/html
		AddOutputFilterByType DEFLATE text/xml
		AddOutputFilterByType DEFLATE text/shtml
		AddOutputFilterByType DEFLATE text/css
		AddOutputFilterByType DEFLATE application/xml
		AddOutputFilterByType DEFLATE application/xhtml+xml
		AddOutputFilterByType DEFLATE application/rss+xml
		AddOutputFilterByType DEFLATE application/javascript
		AddOutputFilterByType DEFLATE application/x-javascript
	</IfModule>
#
