body {
	transition: all 0.5s ease;
	position: absolute;
}
body::before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: var(--sc-00);
	opacity: 1;
	transition: opacity 0.5s ease;
  }
:root { /* COLOURS */
	/*BLue				  CYan				  TEal					GReen				  YEllow			*/
	--bl-00: #FFFFFF; --cy-00: #ffffff; --te-00: #ffffff; --gr-00: #FFFFFF; --ye-00: #FFFFFF;
	--bl-01: #f5f8fa; --cy-01: #f2ffff; --te-01: #f0f9fb; --gr-01: #f5fcf9; --ye-01: #fafafa;
	--bl-02: #e6eff5; --cy-02: #e5ffff; --te-02: #e1f3f7; --gr-02: #ebf9f1; --ye-02: #f7e8d8;
	--bl-03: #d9e7f0; --cy-03: #d9ffff; --te-03: #d2ecf3; --gr-03: #d5f5dd; --ye-03: #f5e2c5;
	--bl-04: #cbdff1; --cy-04: #ccffff; --te-04: #c3e6ef; --gr-04: #baf1c7; --ye-04: #f2dcb2;
	--bl-05: #b8d5ed; --cy-05: #bfffff; --te-05: #b4e0eb; --gr-05: #9cecaf; --ye-05: #f0d69f;
	--bl-06: #a4c9ea; --cy-06: #b3ffff; --te-06: #a5d9e7; --gr-06: #79e896; --ye-06: #edd088;
	--bl-07: #8fbde5; --cy-07: #a6ffff; --te-07: #96d3e3; --gr-07: #53e07c; --ye-07: #eacf70;
	--bl-08: #79afe0; --cy-08: #99ffff; --te-08: #87ccdF; --gr-08: #28db63; --ye-08: #e6c857;
	--bl-09: #62a1d8; --cy-09: #8cffff; --te-09: #78c6db; --gr-09: #00d44f; --ye-09: #e2c040;
	--bl-10: #4a91ce; --cy-10: #80ffff; --te-10: #69c0d7; --gr-10: #00c949; --ye-10: #deba29;
	--bl-11: #3b81c2; --cy-11: #73ffff; --te-11: #5ab9d3; --gr-11: #00b83f; --ye-11: #d8ad0f;
	--bl-12: #2b70b6; --cy-12: #00ffff; --te-12: #00ced1; --gr-12: #00a836; --ye-12: #d09d00;
	--bl-13: #2060a5; --cy-13: #00e5e5; --te-13: #33b7c6; --gr-13: #008c30; --ye-13: #bd8c00;
	--bl-14: #1a548d; --cy-14: #00cccc; --te-14: #45b1c2; --gr-14: #00772b; --ye-14: #aa7b00;
	--bl-15: #174674; --cy-15: #00b3b3; --te-15: #56abc0; --gr-15: #006226; --ye-15: #976a00;
	--bl-16: #153c5b; --cy-16: #009999; --te-16: #6895b9; --gr-16: #004d22; --ye-16: #845900;
	--bl-17: #132e43; --cy-17: #007f7f; --te-17: #0f4d7b; --gr-17: #00371e; --ye-17: #714800;
	--bl-18: #101f2c; --cy-18: #006666; --te-18: #003967; --gr-18: #002219; --ye-18: #5e3700;
	--bl-19: #0b1012; --cy-19: #004c4c; --te-19: #001b4d; --gr-19: #001116; --ye-19: #4b2600;
	--bl-20: #000000; --cy-20: #0a2221; --te-20: #000000; --gr-20: #000000; --ye-20: #380f00;
	/* ORange			  REd				  PInk				  PUrple			   INdigo			*/
	--or-00: #FFFFFF; --re-00: #FFFFFF; --pi-00: #FFFFFF; --pu-00: #FFFFFF; --in-00: #FFFFFF;
	--or-01: #fcf9f2; --re-01: #ffd6d6; --pi-01: #f5f0f6; --pu-01: #f2f0ff; --in-01: #faf9fe;
	--or-02: #f9e9c7; --re-02: #ffb3b3; --pi-02: #e9d9e9; --pu-02: #e1d7ff; --in-02: #e6e3f6;
	--or-03: #f8d6a8; --re-03: #ffa3a3; --pi-03: #e3c3e3; --pu-03: #d6c6ff; --in-03: #d8d4f1;
	--or-04: #f5c289; --re-04: #ff9090; --pi-04: #ddabdd; --pu-04: #c5a7ff; --in-04: #c9c4eb;
	--or-05: #f1ad6a; --re-05: #ff7d7d; --pi-05: #d894d8; --pu-05: #b08cff; --in-05: #b9b3e5;
	--or-06: #ec9c4e; --re-06: #ff6a6a; --pi-06: #d17ed1; --pu-06: #9e71ff; --in-06: #a9a1df;
	--or-07: #e98b32; --re-07: #ff5757; --pi-07: #cb67cb; --pu-07: #8252ff; --in-07: #9c97da;
	--or-08: #e47a16; --re-08: #ff4444; --pi-08: #c550c5; --pu-08: #6633ff; --in-08: #8e8cd4;
	--or-09: #e06a0b; --re-09: #ff3131; --pi-09: #be3abf; --pu-09: #4d1eff; --in-09: #8072ce;
	--or-10: #cb5d0a; --re-10: #ff1e1e; --pi-10: #b723b7; --pu-10: #3300ff; --in-10: #7451c7;
	--or-11: #b44f0a; --re-11: #ff0b0b; --pi-11: #a816a8; --pu-11: #2d00e6; --in-11: #693dc1;
	--or-12: #9d420a; --re-12: #ff0000; --pi-12: #921191; --pu-12: #2700cc; --in-12: #5e1fc7;
	--or-13: #86350a; --re-13: #e60000; --pi-13: #7b0c7b; --pu-13: #2200b3; --in-13: #5510b0;
	--or-14: #6f270a; --re-14: #cc0000; --pi-14: #640964; --pu-14: #1c0099; --in-14: #4b0f95;
	--or-15: #581a0a; --re-15: #b30000; --pi-15: #4d044d; --pu-15: #160080; --in-15: #410d7a;
	--or-16: #420d0a; --re-16: #990000; --pi-16: #360336; --pu-16: #100066; --in-16: #380b60;
	--or-17: #2b010a; --re-17: #800000; --pi-17: #1f021f; --pu-17: #0a004d; --in-17: #2e093f;
	--or-18: #1e010c; --re-18: #660000; --pi-18: #090109; --pu-18: #050033; --in-18: #250727;
	--or-19: #11010d; --re-19: #4d0000; --pi-19: #020002; --pu-19: #00001a; --in-19: #1b040e;
	--or-20: #04010f; --re-20: #330000; --pi-20: #000000; --pu-20: #000000; --in-20: #120201;
	/*SCale				*/
	--sc-00: #FFFFFF;
	--sc-01: #F7F7F7;
	--sc-02: #F0F0F0;
	--sc-03: #E9E9E9;
	--sc-04: #E2E2E2;
	--sc-05: #DBDBDB;
	--sc-06: #D4D4D4;
	--sc-07: #CDCDCD;
	--sc-08: #C6C6C6;
	--sc-09: #BFBFBF;
	--sc-10: #B8B8B8;
	--sc-11: #B1B1B1;
	--sc-12: #AAAAAA;
	--sc-13: #A3A3A3;
	--sc-14: #9C9C9C;
	--sc-15: #959595;
	--sc-16: #8E8E8E;
	--sc-17: #878787;
	--sc-18: #808080;
	--sc-19: #797979;
	--sc-20: #727272;
	--sc-21: #6B6B6B;
	--sc-22: #646464;
	--sc-23: #5D5D5D;
	--sc-24: #565656;
	--sc-25: #4F4F4F;
	--sc-26: #484848;
	--sc-27: #414141;
	--sc-28: #3A3A3A;
	--sc-29: #333333;
	--sc-30: #000000;
	
	--transparent: transparent;
}
:root { /* CUSTOM --BS-*/
	/*
	 * Base
	 */
	--bs-blue: var(--bl-12);
	--bs-indigo: var(--in-12);
	--bs-purple: var(--pu-12);
	--bs-pink: var(--pi-12);
	--bs-red: var(--re-12);
	--bs-orange: var(--or-12);
	--bs-yellow: var(--ye-12);
	--bs-green: var(--gr-12);
	--bs-teal: var(--te-12);
	--bs-cyan: var(--cy-12);
	--bs-transparent: var(--transparent);
	/*
	 * General
	 */
	--bs-primary: var(--bl-12);
	--bs-secondary: var(--sc-09);
	--bs-success: var(--te-12);
	--bs-info: var(--bl-08);
	--bs-warning: var(--or-10);
	--bs-danger: var(--re-13);
	--bs-white: var(--sc-00);
	--bs-black: var(--sc-10);
	--bs-gray: var(--sc-12);
	--bs-gray-dark: var(--sc-16);
	/*
	 * Cards
	 */
	--bs-card-height: ;
	--bs-card-border-width: ;
	--bs-card-border-radius: ;
	--bs-card-spacer-y: 1rem;
	--bs-card-spacer-x: 1rem;
}
@media (prefers-color-scheme: light) {
	:root {
		--bs-body-bg: var(--sc-00);
		--bs-body-color: var(--sc-29);
	}
	.card {
		--bs-card-bg: var(--sc-01);
		--bs-card-border-color: var(--sc-02);
	}
	.dropdown-menu {
		--bs-dropdown-bg: var(--sc-05);
		--bs-dropdown-link-color: var(--sc-27);
	}
	[type=checkbox], [type=radio], .form-control {
		background-color: var(--sc-01);
		border: 1px solid var(--sc-02);
	}
	body {
	  background-color: var(--bs-body-bg);
	  color: var(--bs-body-color);
	}
}
@media (prefers-color-scheme: dark) {
	body::before {
		opacity: 0;
	  }
	:root {
		--bs-body-bg: var(--sc-29);
		--bs-body-color: var(--sc-00);
	}
	.card {
		--bs-card-bg: var(--sc-27);
		--bs-card-border-color: var(--sc-25);
	}
	.dropdown-menu {
		--bs-dropdown-bg: var(--sc-27);
		--bs-dropdown-link-color: var(--sc-05);
	}
	[type=checkbox], [type=radio], .form-control {
		background-color: var(--sc-27);
		border: 1px solid var(--sc-25);
	}
	body {
	  background-color: var(--bs-body-bg);
	  color: var(--bs-body-color);
	}
}