/** General */
	body {
		top: 0px!important;
	}
	.section-col {
		padding: unset;
	}
/** BS */
	.text-auto {
		color: var(--bs-body-color);
	}
	.h-0 {
		height: 0vh!important;
	}
	.h-auto {
		height: auto!important;
	}
	.h-100 {
		height: 100vh!important;
	}
	.h-xs-0 {
		height: 0vh!important;
	}
	.h-xs-auto {
		height: auto!important;
	}
	.h-xs-100 {
		height: 100vh!important;
	}
	@media (min-width: 576px) {
		.h-sm-0 {
			height: 0vh!important;
		}
		.h-sm-auto {
			height: auto!important;
		}
		.h-sm-100 {
			height: 100vh!important;
		}
	}
	@media (min-width: 768px) {
		.h-md-0 {
			height: 0vh!important;
		}
		.h-md-auto {
			height: auto!important;
		}
		.h-md-100 {
			height: 100vh!important;
		}
	}
	@media (min-width: 992px) {
		.h-lg-0 {
			height: 0vh!important;
		}
		.h-lg-auto {
			height: auto!important;
		}
		.h-lg-100 {
			height: 100vh!important;
		}
	}
	@media (min-width: 1200px) {
		.h-xl-0 {
			height: 0vh!important;
		}
		.h-xl-auto {
			height: auto!important;
		}
		.h-xl-100 {
			height: 100vh!important;
		}
	}
	@media (min-width: 1400px) {
		.h-xxl-0 {
			height: 0vh!important;
		}
		.h-xxl-auto {
			height: auto!important;
		}
		.h-xxl-100 {
			height: 100vh!important;
		}
	}
/** Translate bar */
	.skiptranslate {
		display: none!important;
	}
/** Forms */
	.form-signin {
		max-width: 330px;
		padding: 15px;
	}

	.form-signin .form-floating:focus-within {
		z-index: 2;
	}

	.form-signin input[type="email"] {
		margin-bottom: -1px;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}

	.form-signin input[type="password"] {
		margin-bottom: 10px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
/** Element Preloader */
	[preload=true][preload-status=Loading] * {
		display: none;
	}
	[preload=true][preload-status=Loading] {
		background-color: #CCCC;
		overflow: hidden;
		border-radius: 10px;
	}
	[preload=true][preload-status=Loading] {
		bottom: 0;
		left: 0;
		z-index: 1;
	}

	[preload=true][preload-status=Loading]::before {
		content: '';
		display: block;
		width: 20%;
		height: 100%;
		background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(195,195,195,1) 50%, rgba(0,0,0,0) 100%);
		animation: loader 1.5s linear infinite;
	}

	@keyframes loader {
		from {
			margin-left: -20%;
		}
		to {
			margin-left: 120%;
		}
	}